<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Query Test</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
</head>
<body>
<h1 align="center">Query Test</h1>
<div id="app">
<div align="center">
<form class="pure-form">
    <fieldset>
    <label for="text">Query String</label>
    <input type="text" class="pure-input-1-2" v-model="sqlstring" placeholder="">
    <button type="submit" class="pure-button pure-button-primary" @click.prevent="posttoserver">Submit</button>
    </fieldset>
</form>
</div>
<table class="pure-table" width="100%">
<thead>
    <tr>
    <td v-for="col in column">{{ col }} </td>
    </tr>
</thead>
<tbody>
    <tr v-for="rowitem in row">
    <td v-for="item in rowitem">{{ item }} </td>
    </tr>
</tbody>
</table>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    Vue.createApp({
        data() {
            return {
                sqlstring: '',
                column: '',
                row: ''
            }
        },
        methods: {
           posttoserver (event) {
             var formdata = new FormData();
             formdata.append('sqlstring', this.sqlstring);

             axios.post('sql.adp', formdata,
             {headers: {'Content-Type': 'application/x-www-form-urlencoded'}})
             .then((response) => {
               this.column = response.data["column"];
               this.row = response.data["row"];
             })
             .catch((error) => {
               alert(error);
             });
          }
       }
    }).mount('#app')
</script>
</body>
</html>
